rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Helper function to check if the user is authenticated
    function isAuthenticated() {
      return request.auth != null;
    }

    // Helper function to check if the user is the owner of the document
    function isOwner(userId) {
      return isAuthenticated() && request.auth.uid == userId;
    }

    match /events/{eventId} {
      allow read: if true;
      allow create: if isAuthenticated();
      allow update: if isAuthenticated() && 
        (request.resource.data.diff(resource.data).affectedKeys()
          .hasOnly(['likes', 'likedBy']) || 
        isOwner(resource.data.userId));
      allow delete: if isOwner(resource.data.userId);
    }

    match /userSavedEvents/{userId} {
      allow read, write: if isOwner(userId);
    }

    match /userProfiles/{userId} {
      allow read: if true;
      allow write: if isOwner(userId);
    }
  }
}